.sub-minimal {
    .sub-criteria, .sub-status, .sub-endpoint, .sub-action>button>span {
        display: none;
    }
}

.nav-tabs {
    &.well-tabs{
        >li{
            margin-bottom: -3px;
        }
    }
}

.bg-default {
    background-color: #fff;
}

pre {
    &.examples {
        max-height: 200px;
        overflow-y: auto;
    }
}

.well {
    &.well-content-break {
        word-break: break-all;
    }
}

.navbar-default, 
.navbar-collapse {
    background-color: #fff;
}

.navbar-default {
    border-bottom-width: 5px;
}
