.sub-action {
    .fa-caret-right {
        display:none;
    }
}

.sub-minimal {
    .sub-criteria, .sub-status, .sub-endpoint, .sub-view {
        display: none;
    }

    .active {
        .sub-action {
            position: relative;
            top: 0;
            left: 0;


            .fa-caret-right {
                position: absolute;
                right: -18px;
                top: 0;
                font-size: 63px;
                line-height: 35px;
                color: #fcf8e3;
                text-shadow: 2px 0px 1px #ddd;
                display: inline;
            }
        }
    }
}

.nav-tabs {
    &.well-tabs {
        > li {
            margin-bottom: -3px;
        }
    }
}

.bg-default {
    background-color: #fff;
}

pre {
    &.examples {
        max-height: 200px;
        overflow-y: auto;
    }
}

.well {
    &.well-content-break {
        word-break: break-all;
    }
}

.navbar-default, 
.navbar-collapse {
    background-color: #fff;
}

.navbar-default {
    border-bottom-width: 5px;
}
